body {
    background-color: #FDF6E3;
    font-family: Menlo, Monaco, monospace;
    color: #5D6561;
}

table {
    font-size: 11px;
    min-width: 900px;
}

th {
    background-color: #CAC3B1;
}

tr:nth-child(odd) {
    background-color: #EEE8D5;
}

a {
    color: #CB4A17;
    text-decoration: none;
}

a:hover {
    color: #B5891D;
    text-decoration: underline;
}

.repo {
   width: 100px;
}

.hash {
   width: 80px;
}

.date {
   width: 200px;
}

.deployer {
   width: 150px;
}
